@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");
:root {
  --soft-blue: #5368df;
  --soft-red: #fa5757;
  --grayish-blue: #9194a1;
  --very-dark-blue: hsl(229, 31%, 21%);
  --white: #ffffff;
}
body {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  margin: 0;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 3rem 9rem;
}
.logo-header {
  height: fit-content;
}
.navItem {
  font-variant-caps: all-petite-caps;
  color: var(--very-dark-blue);
  margin: 0 1rem;
}
.navItem:hover {
  color: var(--soft-red);
  cursor: pointer;
}
.loginBtn {
  background-color: var(--soft-red);
  color: var(--white);
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 5px;
  font-weight: 700;
}
.loginBtn:hover {
  color: var(--soft-red);
  background-color: var(--white);
  border: 2px solid var(--soft-red);
  cursor: pointer;
}
.heroSection {
  display: flex;
  align-items: center;
}
.heroText {
  margin: 0 2rem 0 8rem;
}
.heroHeading {
  color: var(--very-dark-blue);
  font-weight: 500;
  font-size: 2.5em;
  margin: 0;
}
.ilustratinHero {
  background-color: var(--soft-blue);
  position: absolute;
  z-index: -1;
  height: 21rem;
  width: 40rem;
  border-bottom-left-radius: 180px;
  left: 52rem;
  top: 17rem;
}
.chromeBtn {
  background-color: var(--soft-blue);
  color: var(--white);
  font-weight: 500;
  padding: 0.7rem 1rem;
  border: none;
  border-radius: 5px;
  margin: 0 0.3rem 0 0;
}
.chromeBtn:hover {
  background-color: var(--white);
  color: var(--soft-blue);
  cursor: pointer;
  border: 2px solid var(--soft-blue);
}
.firefoxBtn {
  background-color: var(--white);
  color: var(--grayish-blue);
  font-weight: 500;
  padding: 0.7rem 1rem;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.5) 0px 4px 4px;
}
.firefoxBtn:hover {
  border: 2px solid var(--grayish-blue);
  cursor: pointer;
}
.featureItem:hover {
  color: var(--soft-red);
  cursor: pointer;
}
.heroParagraph {
  color: var(--grayish-blue);
  margin: 1.8rem 0;
  line-height: 1.5em;
}
.featuresHeading {
  text-align: center;
  color: var(--very-dark-blue);
}
.featuresParagraph {
  text-align: center;
  color: var(--grayish-blue);
  margin: 0 23.6rem;
  line-height: 1.5em;
}
.featureParagraph {
  width: 112%;
  color: var(--grayish-blue);
  line-height: 1.5em;
}
.featuresMenu {
  display: flex;
  justify-content: center;
  margin: 3rem 10rem;
}

.featureItem {
  padding: 1rem 3rem;
  border-bottom: 1px solid var(--grayish-blue);
  color: var(--grayish-blue);
}
.activeFeature {
  border-bottom: 4px solid var(--soft-red);
  color: var(--very-dark-blue);
  font-weight: 500;
}

.ilustratiionFeatures {
  background-color: var(--soft-blue);
  position: absolute;
  z-index: -1;
  height: 21rem;
  width: 40rem;
  border-bottom-right-radius: 180px;
  left: -1rem;
  top: 64rem;
}
.feature {
  display: flex;
  margin: 0 8rem;
}
.featureText {
  margin: 3rem 0 2rem 7rem;
}
.featureBtn {
  padding: 0.8rem 1.3rem;
  background-color: var(--soft-blue);
  color: var(--white);
  font-weight: 500;
  border-radius: 5px;
  border: none;
  margin: 0.8rem 0;
}
.features {
  margin: 0 0 13rem 0;
}
.extensionHeading {
  text-align: center;
  color: var(--very-dark-blue);
}
.extensionParagraph {
  text-align: center;
  color: var(--grayish-blue);
  margin: 0 23rem;
}
.browsers {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin: 3rem 0 7rem 0;
}
.chrome {
  margin: 0 0.8rem 0 0.8rem;
  padding: 1rem 0 0 0;
}
/* .chrome h3{
  margin: 1rem 0 1rem 2.5rem;
} */
.firefox {
  margin: 2rem 0.8rem -2rem 0.8rem;
  padding: 1rem 0 0 0;
}
.opera {
  margin: 4rem 0.8rem -4rem 0.8rem;
  padding: 1rem 0 0 0;
}
/* .browserImg {
  margin: 0 3rem;
} */
.browser {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 15px;
  width: fit-content;
  width: 17%;
}
.dotsImg {
  width: 100%;
  height: fit-content;
}
.browserHeading {
  /* width: fit-content; */
  /* margin: 1rem 0 1rem 2.6rem; */
  font-size: 0.9em;
}
.requierments {
  /* width: fit-content; */
  margin: 1rem 0;
  font-size: 0.6em;
  color: var(--grayish-blue);
}
.installExtension {
  padding: 0.7rem 1rem;
  margin: 1rem;
  border: none;
  border-radius: 5px;
  background-color: var(--soft-blue);
  color: var(--white);
  font-weight: 700;
}
.installExtension:hover {
  border: 2px solid var(--soft-blue);
  background-color: var(--white);
  color: var(--soft-blue);
  cursor: pointer;
}
.faq {
  margin: 13rem 24rem 10rem 24rem;
}
.faqBox {
  margin: 4rem 0;
}
.faqHeading {
  text-align: center;
  color: var(--very-dark-blue);
}
.faqParagraph {
  text-align: center;
  color: var(--grayish-blue);
  /* margin: 0 24rem; */
}
.question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--grayish-blue);
  padding: 1rem 0;
  margin: 0;
}
.question:hover {
  color: var(--soft-red);
}
.questionBox:first-child {
  border-top: 1px solid var(--grayish-blue);
}
.arrow-icon {
  color: var(--soft-blue);
}
.error-icon {
  position: relative;
  left: -9.5rem;
  top: 0.3rem;
}
.error-paragraph {
  margin: 0;
  text-align: left;
  font-size: 0.6em;
  position: relative;
  top: -2rem;
  left: 0.3rem;
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
  background-color: var(--soft-red);
  width: 56%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.faqBtn {
  margin: 0 13rem;
  padding: 0.7rem 1.3rem;
  border: none;
  background-color: var(--soft-blue);
  border-radius: 5px;
  color: var(--white);
  font-weight: 500;
}
.contactSection {
  text-align: center;
  padding: 2rem 29rem;
  background-color: var(--soft-blue);
  color: var(--white);
}
.contactParagraph {
  font-variant-caps: all-petite-caps;
  letter-spacing: 0.3em;
  font-size: 0.7em;
  font-weight: 500;
}
.contactHeading {
  font-weight: 500;
  margin: 2rem 0;
}
.emailInput {
  color: var(--grayish-blue);
  border: none;
  padding: 0.6rem 0.8rem;
  margin: 0 0 2rem 0;
  border-radius: 5px;
}
footer {
  background-color: var(--very-dark-blue);
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  padding: 1rem 10rem;
}
.menu-footer {
  display: flex;
}
.navItem-footer {
  color: var(--white);
  margin: 0.1rem 0 0rem 3.5rem;
  font-variant-caps: all-petite-caps;
  font-size: 0.9em;
}
.navItem-footer:hover {
  color: var(--soft-red);
  cursor: pointer;
}
.contactBtn {
  background-color: var(--soft-red);
  padding: 0.6rem 1rem;
  border: none;
  border-radius: 5px;
  color: var(--white);
  font-weight: 500;
  margin: 0 0.5rem;
}
.contactBtn:hover {
  border: 2px solid var(--soft-red);
  background-color: var(--white);
  color: var(--soft-red);
  cursor: pointer;
}
.icon-social {
  font-size: 1.3em;
  color: var(--white);
  margin: 0 1rem;
}
.icon-social:hover {
  color: var(--soft-red);
  cursor: pointer;
}
.answer {
  color: var(--grayish-blue);
  line-height: 2em;
  margin: 0;
  padding: 0 0 1rem 0;
}
.unactive {
  display: none;
}
.hidden {
  display: none;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.mobile {
  display: none;
}
@media screen and (max-width: 500px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: initial;
  }
  .menu-headerMobile {
    display: flex;
    flex-direction: column;
  }
  .navItemMobile {
    color: var(--white);
    margin: 0.1rem 0 1rem 0;
    font-variant-caps: all-petite-caps;
    font-size: 1.4em;
    text-align: center;
    font-weight: 400;
    padding: 0 0 1rem 0;
  }
  .loginBtn {
    background: none;
    border: 2px solid var(--white);
    font-size: 1.2em;
    margin: 1rem 0;
  }
  header {
    margin: 3rem 2rem;
    position: initial;
  }
  .menuActive {
    background-color: hsla(229, 31%, 21%, 0.9);
    margin: 0;
    padding: 3rem 2rem;
    flex-direction: column;
    position: absolute;
    height: 100%;
    width: 83%;
    justify-content: flex-start;
  }
  .hamburger-icon {
    height: fit-content;
    width: fit-content;
  }
  .close-icon {
    height: fit-content;
    width: fit-content;
    position: absolute;
    left: 20rem;
  }
  .menu-logo {
    width: fit-content;
    margin: 0 0 2rem 0;
  }
  .logo-header {
    height: fit-content;
    width: fit-content;
  }
  .heroSection {
    flex-direction: column-reverse;
  }
  .heroImg {
    width: 90%;
  }
  .ilustratinHero {
    height: 12rem;
    width: 19rem;
    border-bottom-left-radius: 120px;
    left: 4rem;
    top: 11rem;
  }
  .heroText {
    margin: 5rem 2rem;
  }
  .heroHeading {
    text-align: center;
    font-size: 1.7em;
  }
  .heroParagraph {
    text-align: center;
    font-size: 0.8em;
  }
  .featuresMenu {
    margin: 3rem 2rem;
    text-align: center;
  }
  .first {
    border-top: 1px solid var(--grayish-blue);
  }

  .featuresParagraph {
    margin: 0 0.6rem;
    line-height: 1.5em;
    font-size: 0.9em;
  }
  .featuresMenu {
    flex-direction: column;
    margin: 3rem 0rem;
  }
  .featureItem {
    padding: 1rem;
    margin: 0 2rem;
  }
  .activeLine {
    background-color: var(--soft-red);
    width: 10rem;
    height: 3px;
    display: block;
    position: relative;
    left: 6rem;
    top: -0.25rem;
  }
  .activeFeature {
    border-bottom: 1px solid var(--grayish-blue);
  }
  .featureImg {
    width: 90%;
  }
  .feature {
    flex-direction: column;
    margin: 0;
    text-align: center;
  }
  .featureText {
    margin: 3rem 3rem 3rem 1rem;
    font-size: 0.9em;
  }
  .featureHEading {
    width: 110%;
  }
  .extensionParagraph {
    margin: 0;
  }
  .browsers {
    flex-direction: column;
    margin: 0;
  }
  .faq {
    margin: 9rem 2rem 10rem 2rem;
  }
  .faqParagraph {
    font-size: 0.82em;
  }
  .faqBtn {
    margin: 0 6rem;
  }
  .contactSection {
    font-size: 0.9em;
    padding: 2rem 1rem;
  }
  .browser {
    margin: 1rem 4rem 1rem 3.5rem;
    width: 72%;
  }
  .question {
    font-size: 0.8em;
  }
  .answer {
    font-size: 0.9em;
    line-height: 1.8em;
  }
  .menu-footer {
    flex-direction: column;
  }
  footer {
    flex-direction: column;
  }
  .social {
    display: flex;
  }
  .navItem-footer {
    margin: 1rem 0 1rem 0.5rem;
    text-align: center;
  }
  .logo-footer {
    margin: 1rem 0;
  }
  .social {
    margin: 1rem 0;
  }
  .social-mobile {
    text-align: center;
    margin: 7rem 0;
    font-size: 1.2em;
  }
  .ilustratiionFeatures {
    width: 40rem;
    border-bottom-right-radius: 180px;
    left: -21rem;
    height: 13rem;
    top: 78.3rem;
  }
  .featureImg {
    width: 83%;
    margin: 0 2rem;
  }
  .emailInput {
    width: 92%;
    margin: 0 0 1.5rem 0;
  }
  .error-paragraph {
    top: -5.2rem;
    left: 0rem;
    width: 95.3%;
    margin: 1rem 0;
  }
  .contactBtn {
    width: 100%;
    margin: 0;
  }

  .navItemMobile {
    border-bottom: 1px solid var(--grayish-blue);
  }

  .unactive {
    display: none;
  }
  .hidden {
    display: none;
  }
}
